<!doctype html>

<html ng-app="furnitureApp">
<head>
    <meta charset="utf-8">
    <title>Furniture App</title>

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
       
    <!-- /// -->
    <script type="text/javascript">
        <!--
        function appname() {
            return location.hostname.substring(0, location.hostname.indexOf("."));
        } 
    </script>

  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body ng-controller="FurnitureCtrl">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">Furniture</a>
          
        </div>
    </div>
</div>

<div class="container" id="getting-started">
    <div class="row">
        <div class="col-md-10 offset2">
            <h1 class="alert alert-success">Furniture</h1>

            <div class="page-header">
                <h1>Get started with JAX-RS And AngularJS</h1>
            </div>
        </div>
    </div>
          <div class="row">
            <div class="col-md-2">
              <!-- sidebar -->
              <select ng-model="category" >
                  <option ng-repeat="cat in categories" value="{{cat.id}}">
                    {{cat.name}}
                  </option>
                </select>
            </div>
            <div class="col-md-10"> 
            <p>The time is {{theTime}}</p>
                  <ul>
                    <!--dynqmic content  ng-repeat repeats... 2 dynamic binded items-->
                    <li ng-repeat="phone in phones">
                      {{phone.name}}
                      <p>{{phone.snippet}}</p>
                    </li>
                  </ul>
                    <p>Total number of phones: {{phones.length}}</p>
                    <p>Hello {{name}}</p>
                     <table>
                      <tr><th>row number</th></tr>
                      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
                    </table>
                    <table>
                     <tr><th>row number</th></tr>
                      <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
                    </table>
              </div>
           </div>
         </div>

</div>
 
 
</body>
</html>
